/* Dark theme for wofi - managed by toggle_theme.sh */

* {
    font-family: 'Adwaita Mono', monospace;
}

window {
    margin: 5px;
    border: 2px solid #404040;
    background-color: rgba(48, 98, 148, 1.0);
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 0px solid black;
    background-color: #1A1C1E;
    color: white;
}

#inner-box {
    margin: 5px;
    background-color: #1A1C1E;
}

#outer-box {
    margin: 5px;
    padding: 20px;
    background-color: #1A1C1E;
}

#scroll {

}

#text {
    margin: 5px;
    color: white;
}

#entry {
    background-color: #1A1C1E;
}

#entry:selected {
    background-color: #151718;
}

#expander, #expander-box {
    background-color: #1A1C1E;
}

#text:selected {
    text-decoration-color: white;
}
